<html>

<head>
<title>Car Lease Payment Calculator</title>
</head>

<body>

<h1>Car Lease Payment Calculator app installation</h1>
<p>This application calculates the monthly fee when you lease a car.</p>

<p>Its installation is very easy. All you need to do is to copy ui.R
and server.r files to a local directory. Next, change the directory in
R Gui or RStudio to this directory, then run a command:</p>

<!--begin.rcode eval=FALSE
runApp()
end.rcode-->

<p>The Web page will have the input panel on the left, and the output on the right side. The inputs are typical lease terms, such as the length of a lease,
interest rate etc. The output is the monthly payment.</p>



</body>
</html>
